---
title: Work Dash
---
- data = yaml_load_files('daily')
%table{border: 1, cellpadding: 9}

  %tr
    = partial 'td', locals: {rows: 4, sub: :nav}
    %td
      %iframe{src: "http://n.numerousapp.com/e/1kaht58aeu9a", width: "250", height: "250", frameBorder: "0", seamless_scrolling: "no"}
      %iframe{src: "http://n.numerousapp.com/e/1rom6n0fjw179", width: "250", height: "250", frameBorder: "0", seamless_scrolling: "no"}
      %iframe{src: "http://n.numerousapp.com/e/qefh2g138lbd", width: "250", height: "250", frameBorder: "0", seamless_scrolling: "no"}
