---
title: Work Admin
---
- data_dailywork = yaml_load_files('dailywork')
%table{border: 1, cellpadding: 9}

  %tr
    = partial 'td', locals: {rows: 3, sub: :nav}

    = partial 'td', locals: {rows: 1, content: data_dailywork[:campus]}

  %tr
    = partial 'td', locals: {rows: 2, content: data_dailywork[:admin]}
